* {
	font-family: 'Open Sans', sans-serif;
	/*Reset CSS*/
	/*margin 0 and padding 0, deletes the default padding and margin of all the element on our webpage*/
	/*Giving the padding and margin 0, makes it easier for us to manipulate the sizes and positions of our elements. Gives us also the freedom to customize their own spacing.*/
	margin:0;
	padding:0;
	/* box-sizing - defines how the width and height of our element are calculated
	   border-box - will allow us to control the measurement of our elements better. It includes the padding, border styling of our element tot the total height and width in its computation.
	*/
	box-sizing: border-box;
}

nav {
	border-bottom: 1px solid gray;
	padding:0.8rem; 
	/*rem stands for pixels based on the 'root element'*/
	margin-bottom: 2rem; 
	/*creates space between nav and section intro*/
}

nav ul .nav-logo, nav ul .nav {
	list-style-type: none;
	display: inline;
	margin: 0.5rem; 
	/*short hand for margin-top, margin-right, margin-bottom & margin-left*/
}



/*.header{
	text-align: center;
}

#intro p{
	margin: 10px 150px;
	text-align: justify;
}

#intro{
	text-align: center;
	margin-bottom: 75px;
}*/

/*button{
	background-color: #FF3659;
	color: white;
	border-radius: 20px;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
}

#nav-btn{
	background-color: blue;
}

#succeed-info > div{
	display: flex;
	margin: 0 150px 75px 150px;
}

.card h3{
	margin: 20px 0 20px 0;
	text-align: center;
}

.card p{
	margin-right: 20px;
	text-align: justify;
}
*/

#pre-footer {
	border: 1px solid black;
	padding:20px;
	background-color: #003865;
	color: white;
	display: flex;
	/*justify-content: center;*/
	/*justify-content: space-between;*/
	/*justify-content: space-around;*/
	/*justify-content: flex-end;*/
	/*justify-content: flex-start;*/
}

.div-1{
	margin: 0 150px 0 0;
}

.div-2{
	margin: 0 150px 0 0;
}

.div-3{
	margin: 45px 150px 0 0;
}

.div-4{
	margin: 20px;
}

/*
.flex-item {
	height: auto; auto means automatically it will inherit the height on the given content of the box
	width: 250px;
	background-color: coral;
	border:1px solid maroon;
	/*display: inline-block;*/
}*/